.comment {
  overflow: scroll;
  word-wrap: break-word;
}

.progress_at_that_time {
  overflow: scroll;
  word-wrap: break-word;
}

.date {
  font-size: 9px;
  color: #ccc;
}

.title_of_progress {
  font-size: 10px;
  color: #777;
}
